doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="sqlserver-crud")
        meta(name="author" content="edsonfer")
        style
            include ../public/bulma.css
    body
        div(class="container")
            block container
        script
            include ../public/sweetalert.min.js
        